body,input,select,textarea
{
	font-size:13pt
}

h1 br,h2 br,h3 br,h4 br,h5 br,h6 br
{
	display:none
}

ul.major-icons li
{
	padding:2em
}

ul.major-icons li .icon
{
	height:8em;
	line-height:8em;
	width:8em
}

.main
{
	padding:4em 0 2em
}

.main.style2
{
	background-attachment:scroll
}

#header
{
	padding:5em 0;
	background-attachment:scroll
}

#header br
{
	display:inline
}

#footer
{
	padding:4em 0;
	background-attachment:scroll
}