body,input,select,textarea
{
	font-size:12pt
}

h1
{
	font-size:1.75em
}

h2
{
	font-size:1.5em
}

h3
{
	font-size:1.1em
}

h4
{
	font-size:1em
}

ul.major-icons li
{
	padding:1.5em
}

ul.major-icons li .icon
{
	height:5em;
	line-height:5em;
	width:5em
}

ul.major-icons li .icon:before
{
	font-size:42px
}

.icon.major
{
	margin:0 0 1em
}

input[type="submit"],input[type="reset"],input[type="button"],button,.button
{
	height:3em;
	line-height:3em
}

.main
{
	padding:3em 1.5em 1em
}

#header
{
	padding:4em 3em
}

#header .actions
{
	margin:2em 0 0
}

#footer
{
	padding:3em 1.5em
}