ul.actions
{
	margin:0 0 2em
}

ul.actions li
{
	display:block;
	padding:1em 0 0;
	text-align:center;
	width:100%
}

ul.actions li:first-child
{
	padding-top:0
}

ul.actions li > *
{
	margin:0!important;
	width:100%
}

ul.actions li > .icon:before
{
	margin-left:-2em
}

ul.actions.small li
{
	padding:.5em 0 0
}

ul.actions.small li:first-child
{
	padding-top:0
}

input[type="submit"],input[type="reset"],input[type="button"],.button
{
	padding:0
}

.main
{
	padding:2em 1.5em .1em
}

#header
{
	padding:4em 2em
}

#header br
{
	display:none
}

#footer
{
	padding:2em 1.5em
}

#footer .copyright
{
	margin:1.5em 0 0
}

#footer .copyright li
{
	border:0;
	display:block;
	margin:1em 0 0;
	padding:0
}

#footer .copyright li:first-child
{
	margin-top:0
}